*
{
  margin: 0;
  padding: 0;
}

div
{
  padding: 12px;
  overflow: hidden;
  font-family: monospace;
  color: #3d3d3d;
}

div ul
{
  list-style-type: none;
  margin: 2px;
}

div ul li
{
  width: 40%;
  height: 18px;
  line-height: 18px;
  float: left;
  margin: 4px;
}

div ul li input
{
  float: left;
  width: 50%;
  font-family: monospace;
  color: #3d3d3d;
  margin: 2px;
}
